site_name: Faeyon
site_description: A PyTorch library for building and training neural networks
site_author: George Dib
site_url: https://faeyon.readthedocs.io/

repo_name: faeyon
repo_url: https://github.com/dibgerge/faeyon
edit_uri: edit/main/docs/

theme:
  name: material
  logo: assets/logo.svg
  favicon: assets/logo-icon.svg
  custom_dir: docs/overrides
  extra_css:
    - assets/homepage.css
  extra_javascript:
    - assets/homepage.js
  palette:
    - scheme: default
      primary: pink
      accent: pink
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: pink
      accent: pink
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - navigation.indexes
    - search.suggest
    - search.highlight
    - content.code.annotate
    - content.code.copy
    - content.code.select

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - admonition
  - pymdownx.details
  - attr_list
  - md_in_html
  - toc:
      permalink: true

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: [faeyon]
          options:
            docstring_style: google
            show_source: true
            show_root_heading: true
            show_root_toc_entry: true
            show_root_full_path: false
            show_object_full_path: false
            show_category_heading: true
            show_if_no_docstring: false
            merge_init_into_class: true
            show_signature_annotations: true
            separate_signature: true
            line_length: 100

nav:
  - Home: index.md
  - Getting Started:
    - Installation: getting-started/installation.md
    - Quick Start: getting-started/quickstart.md
  - User Guide:
    - Magic System:
      - Overview: user-guide/magic/overview.md
      - X: user-guide/magic/x.md
      - Delayable: user-guide/magic/delayable.md
      - Faek: user-guide/magic/faek.md
    - Models:
      - Overview: user-guide/models/overview.md
      - Model I/O: user-guide/models/io.md
      - Implementations: user-guide/models/implementations.md
    - Training:
      - Overview: user-guide/training/overview.md
      - Recipes: user-guide/training/recipes.md
      - Distributed: user-guide/training/distributed.md
    - Metrics:
      - Overview: user-guide/metrics/overview.md
    - Neural Networks:
      - Overview: user-guide/nn/overview.md
  - API Reference:
    - magic: api/magic.md
    - models: api/models.md
    - training: api/training.md
    - metrics: api/metrics.md
    - nn: api/nn.md
    - utils: api/utils.md
  - Examples:
    - Basic Usage: examples/basic.md
    - Training: examples/training.md
  - Development:
    - Contributing: development/contributing.md
    - Testing: development/testing.md

